@model AfluexFollowUpDemo.Models.Lead
@{
    ViewBag.Title = "ListLead";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h6 class="mb-0 text-uppercase">Lead List Followup</h6>
<hr />
@using (Html.BeginForm("ListLead", "Lead", FormMethod.Post, new { @id = "signupForm", enctype = "multipart/form-data" }))
{
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <h5 class="mb-0">@TempData["Error"]</h5>
                     </div>
                    <div class="table-responsive mt-3">
                        <table id="example2" class="table table-bordered">
                            <thead class="table-secondary">
                                <tr>
                                    <th>Sr.No</th>
                                    <th>Contact Person</th>
                                    <th>FirstDateOfInteeraction</th>
                                    <th>Expected Product Category</th>
                                    <th>Data Source</th>
                                    <th>Executive Name</th>
                                    <th>Mode Of Interaction</th>
                                    <th>Followup Date</th>
                                    <th>Description </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                 @if (Model != null)
                                 {
                                     if (Model.lstLead != null)
                                     {
                                         int i = 1;
                                         foreach (var item in Model.lstLead)
                                         {
                                              <tr>
                                                  @Html.HiddenFor(m => m.Pk_LeadeId)
                                                  <td>@i</td>
                                                   <td>@item.Fk_ProcpectId</td>
                                                   <td>@item.FirstInstructionDate</td>
                                                   <td>@item.Fk_ExpectedProductCategoryId</td>
                                                   <td>@item.Fk_SourceId</td>
                                                   <td>@item.Fk_ExecutiveId</td>
                                                  <td>@item.Fk_ModeInterActionId</td>
                                                   <td>@item.FollowupDate</td>
                                                    <td>@item.Description</td>
                                                  <td>
                                                      <div class="table-actions d-flex align-items-center gap-3 fs-6">
                                                           @*<a href="javascript:;" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Views"><i class="bi bi-eye-fill"></i></a>
                                                                <a href="javascript:;" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit"><i class="bi bi-pencil-fill"></i></a>*@
                                                          <a href="/Lead/DeleteLead?Pk_LeadeId=@item.Pk_LeadeId" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete" onclick="return confirm('Sure you want to delete this Lead ?');"><i class="bi bi-trash-fill"></i></a>
                                                       </div>
                                                   </td>
                                               </tr>
                                             i = i + 1;
                                         }
                                     }
                                 }
                              </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
