@model AfluexFollowUpDemo.Models.EmployeeLead

@{
    ViewBag.Title = "ListLead";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h6 class="mb-0 text-uppercase">Lead List Followup</h6>
<hr />
@using (Html.BeginForm("ListLead", "EmployeeLead", FormMethod.Post, new { @id = "signupForm", enctype = "multipart/form-data" }))
{
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <h5 class="mb-0">Lead List Details</h5>
                    </div>
                    <div class="table-responsive mt-3">
                        <table id="example2" class="table table-bordered mb-0">
                         <thead>
                            <tr>
                               
                                <th>Contact Person</th>
                                <th>FirstDateOfInteeraction</th>
                                <th>Expected Product Category</th>
                                <th>Data Source</th>
                                <th>Executive Name</th>
                                <th>Mode Of Interaction</th>
                                <th>Followup Date</th>
                                <th>Description </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.lstLead != null)
                                {
                                    foreach (var item in Model.lstLead)
                                    {
                                        <tr>
                                            @Html.HiddenFor(m => m.Pk_LeadeId)
                                            <td>@item.Fk_ProcpectId</td>
                                            <td>@item.FirstInstructionDate</td>
                                            <td>@item.Fk_ExpectedProductCategoryId</td>
                                            <td>@item.Fk_SourceId</td>
                                            <td>@item.Fk_ExecutiveId</td>
                                            <td>@item.Fk_ModeInterActionId</td>
                                            <td>@item.FollowupDate</td>
                                            <td>@item.Description</td>
                                            <td>
                                                <a href="/EmployeeLead/DeleteLead?Pk_LeadeId=@item.Pk_LeadeId" class="label label-primary" onclick="return confirm('Are you want to delete?;')"><i class="bi bi-trash-fill"></i></a>
                                                &nbsp;
                                             </td>
                                        </tr>
                                    }
                                }
                            }

                        </tbody></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

